img {
  max-width: 77%;
  border: 0;
}
.btnAnimal {
  border: solid 1px;
  margin-top: 2px;
  border-color: #9baaa9;;

    // height: 132px;
    // width: 100%;
    // font-size: 2rem;
    background-color: #e0f2f1;
    animation-duration: 500ms;
    animation-name: slidein;
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%; 
        }
     
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

}

.btnAnimal:hover{
    background-color: #9baaa9;
}
.btnAnimal:hover:not(.disable-hover) {
    background-color: #9baaa9;
}
.btnPeliculas {
  border: solid 1px;
  margin-top: 2px;
  border-color: #8aa58b;;
    background-color: #c8e6c9;
    animation-duration: 500ms;
    animation-name: slidein;
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%; 
        }
     
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

}
.btnPeliculas:hover{
    background-color: #8aa58b;
}
.btnPeliculas:hover:not(.disable-hover) {
    background-color: #8aa58b;
}
.btnJuegos {
  border: solid 1px;
  margin-top: 2px;
  border-color: #9b9e79;;
    // height: 132px;
    // width: 100%;
    // font-size: 2rem;
    background-color: #f0f4c3;
    animation-duration: 500ms;
    animation-name: slidein;
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%; 
        }
     
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

}
.btnJuegos:hover{
    background-color: #9b9e79;
}
.btnJuegos:hover:not(.disable-hover) {
    background-color: #9b9e79;
}
.btnSimpsons {
  border: solid 1px;
  margin-top: 2px;
  border-color: #bb8f82;;

  // height: 132px;
  // width: 100%;
  // font-size: 2rem;
  background-color: #ffccbc;
  animation-duration: 500ms;
  animation-name: slidein;
  @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%; 
      }
   
      to {
        margin-left: 0%;
        width: 100%;
      }
    }

}
.btnSimpsons:hover{
  background-color: #bb8f82;
}
.btnSimpsons:hover:not(.disable-hover) {
  background-color: #bb8f82;
}
.btnPlay{
    
    width: 128px;
    height: 100px;
    //background-color: white;
    animation-duration: 500ms;
    animation-name: slidein;
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%; 
        }
     
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
}
.btnPlay:active {
    //background-color: white;
    transform: translateY(4px);
  }
  .grid {
    padding: 5px;
    padding-left: 50px;
    padding-right: 34px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
 
}
.btnStop{
  background-color: #CC0000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

  height: 217px;
  animation-duration: 500ms;
  animation-name: slidein;
  @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%; 
      }
   
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
}
.btnStop:hover{
  background-color: rgb(136, 0, 0);
}
.btnStop:hover:not(.disable-hover) {
  background-color: rgb(136, 0, 0);
}
.btnStop:active {
  background-color: rgb(136, 0, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  
